.card {
  background-color: #ffffff;
  border: 1px solid #edebe9;
  border-radius: 4px;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.1);
  margin-top: 12px;
  overflow: hidden;
}

.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-bottom: 1px solid #edebe9;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.body {
  padding: 8px 16px 16px;
}
